#telnet-router, #telnet-router > .row {
    height: 100%;
}
#telnet-router {
	height:  100%;
	min-height: 100vh;
    background: #222;
    color: #CCC;
    font-family: "Consolas", monospace;
}
#telnet-router .terminal {
    max-height: calc(0.5rem - 56px + 100vh - 150px);
    overflow-y: auto;
}
#telnet-router .terminal_pre {
    white-space: pre;
}
#telnet-router .input,
#telnet-router .batch {
    background: rgba(255,255,255,0.1);
    border: none;
    color:white;
    line-height: 1;
}
#telnet-router .batch {
    width: 100%;
}
#telnet-router a {
    color: white;
}
#telnet-router .nav-pills .nav-link.active,
#telnet-router .nav-pills .show>.nav-link {
    background: white;
    color: black;
}
#telnet-router .router {
    background-image: url(router.svg);
    background-repeat: no-repeat;
    background-size: contain;
}