#telnet-router, #telnet-router > .row {
    height: 100%;
}
#telnet-router {
	height:  100%;
	min-height: 100vh;
    background: #222;
    color: #CCC;
    font-family: "Consolas", monospace;
}
#telnet-router .terminal {
    max-height: calc(0.5rem - 56px + 100vh - 150px);
    overflow-y: auto;
}
#telnet-router .terminal_pre {
    white-space: pre;
}
#telnet-router .input,
#telnet-router .batch {
    background: rgba(255,255,255,0.1);
    border: none;
    color:white;
    line-height: 1;
}
#telnet-router .batch {
    width: 100%;
}
#telnet-router a {
    color: white;
}
#telnet-router .nav-pills .nav-link.active,
#telnet-router .nav-pills .show>.nav-link {
    background: white;
    color: black;
}
#telnet-router .router {
    background-image: url(router.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
#telnet-router .link {
    position: absolute;
    z-index: 1;
    height: 4px;
    background: black;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    border-radius: 10px;
    background-clip: content-box;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 10px 0;
}
#telnet-router .link:hover {
    cursor: pointer;
    background-color: red;
}
#telnet-router .link.serial {
    background: none;
}
#telnet-router .link.serial:before {
    content: "";
    width: calc(50% - 2px);
    height: 4px;
    border-top: 4px solid rgb(161, 0, 0);
    border-right: 4px solid rgb(161, 0, 0);
    position: absolute;
    left: 0;
    /*transform: rotate(-0.1rad);*/
    transform-origin: left top;
    box-sizing: content-box;
}
#telnet-router .link.serial:after {
    content: "";
    width: calc(50% - 2px);
    height: 4px;
    border-bottom: 4px solid rgb(161, 0, 0);
    border-left: 4px solid rgb(161, 0, 0);
    position: absolute;
    right: 0;
    /*transform: rotate(-0.1rad) translateY(-100%);*/
    transform-origin: right top;
    box-sizing: content-box;
}

#telnet-router .link.serial:hover:before,
#telnet-router .link.serial:hover:after {
    border-color: red;
}